.home-holder {
    background-image: url('../assets/february18_calendar_1024x600.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-repeat: no-repeat; */
}